body {
    background-color: grey;
    font-family: 'Montserrat', sans-serif;color: grey;
}

.grid{
  display: grid;
  grid-template-rows:auto auto auto auto auto;
  width: 500px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: red;
}

.Tim-Berners{
  grid-row: 1/2;
  border: solid;
  border-style: inset;
  padding: 10px;
  text-align: center;
}

.timfoto{
  border-radius: 50%;
  border: solid;
  border-color: grey;
  width: 170px;
  height: auto;
}

.see{
  background-color: red;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

a {
    text-decoration: none;
    color: white;
}

.leeg-rij1{
  grid-row: 2/3;
  padding: 10px;
  text-align: center;
  background-color: grey;
}

.links{
  grid-row: 3/4;
  border-style: inset;
  padding-top: 20px;
  padding-left: 110px;
  padding-right: 110px;
  color: grey;
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;

}

.flex-container > div {
  width: 50px;
  margin: 10px;
  text-align: center;
  line-height: 45px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;

}

.leeg-rij2{
  grid-row: 4/5;
  padding: 10px;
  text-align: center;
  background-color: grey;
}

.movies{
  grid-row: 5/6;
  border-style: inset;
  padding: 10px
}

mark {
    background-color: #DCDCDC;
    color: grey;
    }

.grid-movies{
  display: grid;
  grid-template-rows:auto auto auto;
  grid-template-columns: 25% 75%;
  height: auto;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  grid-row-gap: 20px
}

.t2001{
  grid-area: 1/1/2/2;
}

.t2001-text{
  grid-area: 1/2/2/3;
  margin-left: 20px;
}

.vacances{
  grid-area: 2/1/3/2;
  }

.vacances-text{
  grid-area: 2/2/3/3;
  margin-left: 20px;
}

.alien{
  grid-area: 3/1/4/2;
}

.alien-text{
  grid-area: 3/2/4/3;
  margin-left: 20px;
}
